/* .active */
.visStep:hover,
.visSDOStep:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.visQM:hover {
  background-color: rgba(255, 0, 0, 0.3);
}

.visIf:hover {
  background-color: rgba(0, 255, 0, 0.3);
}

.visThen:hover {
  background-color: rgba(0, 0, 255, 0.3);
}

.visElse:hover {
  background-color: rgba(255, 255, 0, 0.3);
}

/* for toast */

.vis--toast {
  position: fixed;
  bottom: 24px;
  right: 24px;
  background-color: light-dark(#FFF, #333);
  border-radius: 12px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
  z-index: 9999;
  overflow: hidden;

  padding: 16px 24px;
  text-align: center;
  color: light-dark(#000, #FFF);
  font-family: sans-serif;
}

.vis--toast > .vis--toast-progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 8px;
  width: 100%;
  background-color: #4caf50;
}
