@tailwind base;
@tailwind components;
@tailwind utilities;

/* Overriding ECMA page css for visualizer layout */

@media (max-width: 9999px) {
  #menu.active {
    position: fixed !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    right: 300px !important;
  }

  #menu.active {
    display: flex !important;
    opacity: 1 !important;
    z-index: 2 !important;
  }

  #menu {
    display: none !important;
    padding-top: 3em !important;
    width: 450px !important;
  }

  #spec-container {
    flex-basis: auto !important;
    overflow: scroll !important;
  }
}

#menu-spacer {
  display: none !important;
}

#menu-toggle {
  visibility: visible !important;
}

body {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1000px) {
  body {
    flex-direction: column !important;
    display: flex !important;
  }

  #root.active {
    display: block;
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100dvw !important;
    height: 500px !important;
  }

  #spec-container {
    margin-bottom: 500px !important;
  }
}

body.active li {
  cursor: pointer;
}

body.active .abrupt {
  padding: 0 4px;
}
body.active .abrupt:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
body.active .step:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

body.active .selected,
body.active .selected:hover {
  background-color: rgba(255, 255, 0, 0.7);
}

#root {
  display: none;
}

#root.active {
  position: sticky;
  top: 0;
  right: 0;
  display: block;
  height: 100dvh;
}

#extract-button {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 80px;
  height: 40px;
  background-color: red;
}

/*.inlinebranch.if {*/
/*  background-color: red;*/
/*}*/
/*.inlinebranch.then {*/
/*  background-color: orange;*/
/*}*/
/*.inlinebranch.else {*/
/*  background-color: yellow;*/
/*}*/

/*
  Manually added style due to tailwind preflight disable
 */

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
